<div>
  <div class="d-flex justify-content-between align-items-center movie-header">
    <button mat-button (click)="goBack()">
      <mat-icon aria-hidden="false" aria-label="Arrow Back" fontIcon="arrow_back"></mat-icon> Go Back
    </button>
    <div class="text-end">
      <span class="movie-title-page">Movie Detail</span>
    </div>
  </div>

  <div class="container mb-5">
    <div>
      <div class="mb-1">
        <span class="movie-title">{{movieDetail?.title}}</span>
      </div>
      <div class="mb-3">
        <span *ngFor="let genre of movieDetail?.genres; let i = index">{{genre.name}}
          <span *ngIf="i < (movieDetail?.genres.length - 1)">, </span>
        </span> •
        <span *ngIf="movieDetail?.runtime_hours">{{movieDetail?.runtime_hours}} {{movieDetail?.runtime_hours > 1 ?
          'Hours' : 'Hour'}} </span>
        <span *ngIf="movieDetail?.runtime_minutes">{{movieDetail?.runtime_minutes}} {{movieDetail?.runtime_minutes
          > 1 ? 'Minutes' : 'Minute'}}</span>
      </div>
    </div>

    <div class="mb-3">
      <img [src]="movieDetail?.backdrop_path | getImage" [alt]="movieDetail?.backdrop_path" class="movie-image">
    </div>

    <div>
      <div>
        <p class="movie-overview">{{movieDetail?.overview}}</p>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div>
            <span>Release Date: {{movieDetail?.release_date}}</span>
          </div>
          <div>
            <span>Language: <span *ngFor="let data of movieDetail?.spoken_languages">{{data.name}}</span></span>
          </div>
          <div>
            <span>Popularity: {{movieDetail?.popularity}}</span>
          </div>
        </div>
        <div class="col">
          <div>
            <span>Revenue: ${{movieDetail?.revenue}}</span>
          </div>
          <div>
            <span>Total Vote: {{movieDetail?.vote_count}}</span>
          </div>
          <div>
            <span>Vote Average: {{movieDetail?.vote_average}}</span>
          </div>
        </div>
      </div>


      <div class="text-center mb-3">
        <span>Production Company:</span>
      </div>
      <div class="row">
        <div class="col-3 mx-2" *ngFor="let data of movieDetail?.production_companies">
          <div class="mb-3">
            <img [src]="data?.logo_path | getImage" [alt]="data?.logo_path" class="movie-logo-company">
          </div>
          <div class="text-center">
            <span>{{data?.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>