.container {
  padding: 16px;
  border-radius: 12px;
  box-shadow: 11px 16px 20px -5px rgba(0,0,0,0.48);
}

.movie {
  &-header {
    margin: 24px;
  }
  &-title-page {
    font-size: 32px;
    color: grey;
  }

  &-image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  &-title {
    font-size: 36px;
    color: grey;
  }
  &-overview {
    font-size: 18px;
    color: grey;
  }

  &-logo-company {
    width: 100%;
  }
}