<mat-card>
  <mat-card-header>
    <mat-card-title><span>{{ item?.title }}</span></mat-card-title>
    <mat-card-subtitle>{{ item?.genre_ids | getGenre: genreList }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="item?.poster_path | getImage" [alt]="item?.poster_path" alt="Photo of a Shiba Inu" class="movie-poster">
  <mat-card-content>
    <div class="mt-3">
      <div class="mb-3">
        <span>{{ item?.overview }}</span>
      </div>
      <div>
        <span>Popularity: {{ item?.popularity }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-between">
    <button mat-button *ngIf="source !== 'favorite'" [ngStyle]="{'color': item?.favorite ? 'red' : ''}" (click)="onFavorite()">❤</button>
    <button mat-button (click)="gotoDetail(item?.id)">See Details</button>
  </mat-card-actions>
</mat-card>