<div class="text-center my-3">
  <span class="movie-title-page">Movies List</span>
</div>

<div class="container">
  <div class="my-4">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter By
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <form [formGroup]="movieForm">
            <div class="row">
              <div class="col-auto">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label>Release Date</mat-label>
                  <mat-date-range-input [formGroup]="movieForm" [rangePicker]="campaignOnePicker"
                    [comparisonStart]="movieForm.releaseFrom" [comparisonEnd]="movieForm.releaseTo">
                    <input matStartDate placeholder="Start date" formControlName="releaseFrom">
                    <input matEndDate placeholder="End date" formControlName="releaseTo">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>Order By</mat-label>
                  <mat-select formControlName="orderBy">
                    <mat-option *ngFor="let data of orderItemList" [value]="data.value">
                      {{data.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>Sort By</mat-label>
                  <mat-select formControlName="sortBy">
                    <mat-option *ngFor="let data of sortItemList" [value]="data.value">
                      {{data.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="text-end">
          <button mat-raised-button color="primary" (click)="fetchMovieList()">Search</button>
        </div>
  
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="mb-3">
    <div class="text-end">
      <button mat-raised-button color="accent" (click)="gotoFavoriteMovie()">Favorites Movies</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xl-3 col-md-6 col-xs-12 mb-3" *ngFor="let item of movieList">
      <app-movie-card [item]="item" [genreList]="genreList"></app-movie-card>
    </div>
  </div>
</div>