<div class="d-flex justify-content-between align-items-center movie-header">
  <div>
    <button mat-button (click)="goBack()">
      <mat-icon aria-hidden="false" aria-label="Arrow Back" fontIcon="arrow_back"></mat-icon> Go Back
    </button>
  </div>
  <div class="text-end">
    <span class="movie-title-page">Favorite Movies List</span>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-xl-3 col-md-6 col-xs-12 mb-3" *ngFor="let item of movieListFiltered">
      <ng-container *ngIf="item.favorite">
        <app-movie-card [item]="item" [genreList]="genreList" source="favorite"></app-movie-card>
      </ng-container>
    </div>
  </div>
</div>