.movie {
  &-header {
    margin: 24px;
  }
  &-title-page {
    font-size: 32px;
    color: grey;
  }
  &-container {
    border: 1px solid grey;
    border-radius: 6px;
    padding: 6px;
  }
  &-poster {
    width: 100%;
    border-radius: 6px;
  }
  &-desc {
    padding: 8px 8px 8px 0;
  }

  &-title {
    font-size: 18px;
    color: grey;
  }
  &-release-date {
    font-size: 12px;
    color: grey;
  }
}